<%- include('../partials/header'); -%>

<div>
    Total user: <%= totalUser %>
    Total revenue: <%= totalRevenue %>
    Total item: <%= totalItems %>
    Total bidding items: <%= totalBiddingItems %>
</div>

<%- include('../partials/footer'); -%>