<nav class="navbar navbar-expand justify-content-between position-relative large-screen" id="header-nav">
  <div style="width: 10vw;" class="d-flex align-items-center">
    <a class="navbar-brand " aria-current="page" href="/webid/home">
      <img src="/images/brands-logos/brand.png" id="brandImg" />
    </a>
    <p style="color: black; font-size: 4rem;">WeBid</p>
  </div>

  <ul class="navbar-nav align-items-center d-flex justify-content-around">
    <li>
      <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/home">Home</a>
    </li>
    <li>
      <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/items">Listing</a>
    </li>
    <li>
      <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/categories">Categories</a>
    </li>
    <li>
      <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/items/create">Create</a>
    </li>
  </ul>

  <div id="userAvatarField" style="width: 10vw" class=" d-flex justify-content-around dropdown">
    <% if(user){ %>
    <div class="d-flex align-items-center">
      <a href="/webid/profile/<%= user._id %>">
        <% if(user.image){ %>
        <img src="<%= user.imageURL %>" alt="Profile" style="width: 5rem;">
        <% }else{ %>
        <img src="/images/auth-image/anonymous.jpg" alt="Anonymous" style="width: 5rem;">
        <% } %>
      </a>
    </div>
    <span id="greetings" class="align-self-center">Hi, <%= currentUser.username %></span>
    <% }else{ %>
    <div class="d-flex align-items-center">
      <a href="/webid/login %>">
        <img src="/images/auth-image/anonymous.jpg" alt="Anonymous" style="width: 5rem;">
      </a>
    </div>
    <span id="greetings" class="align-self-center">Hi, Anonymous</span>
    <% } %>
  </div>
</nav>

<nav class="navbar w-100 p-1 small-screen" style="background-color: var(--header-background);">

  <div class="d-flex justify-content-between align-items-center ">
    <a class="navbar-brand " aria-current="page" href="/webid">
      <img src="/images/brands-logos/brand.png" id="brandImg" style="margin-left: 1rem;" />
    </a>

    <button class="navbar-toggler toggler-example m-2 h-25 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i class="fas fa-bars fa-2x"></i></span></button>
  </div>


  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

    <ul class="navbar-nav" style="font-size: 1.75rem;">
      <li>
        <a class="nav-link active" id="nav-link" aria-current="page" href="/webid">Home</a>
      </li>
      <li>
        <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/items">Listing</a>
      </li>
      <li>
        <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/categories">Categories</a>
      </li>
      <li>
        <a class="nav-link active" id="nav-link" aria-current="page" href="/webid/items/create">Create</a>
      </li>
      <li>
        <hr />
      </li>

      <% if(user){ %>
      <li><a class="nav-link active text-end ">Hi, <%= currentUser.username %></a></li>
      <div class="d-flex justify-content-end">
        <div class="align-self-center">
          <a href="/webid/profile/<%= user._id %>">
            <% if(user.image){ %>
            <img src="<%= user.imageURL %>" alt="Profile" style="width: 5rem;">
            <% }else{ %>
            <img src="/images/auth-image/anonymous.jpg" alt="Anonymous" style="width: 5rem;">
            <% } %>
          </a>
        </div>
      </div>        
      <% }else{ %>
        <li><a class="nav-link active text-end ">Hi, Anonymous</a></li>
        <div class="d-flex justify-content-end">
          <div class="align-self-center">
            <a href="/webid/login %>">
              <img src="/images/auth-image/anonymous.jpg" alt="Anonymous" style="width: 5rem;">
            </a>
          </div>
        </div>  
      <% } %>
      
    </ul>

  </div>

</nav>