<%- include('../partials/header'); -%>

<!-- <link rel="stylesheet" href="/stylesheets/styles.css"> -->

<div>
  <% if(bids){ %>
  <% bids.forEach(function(bid){ %>
  <div>
    <%= bid.product.name %>
    <%= bid.price %>
    <% if(bid.product.timeLeft.day < 0 || bid.product.timeLeft.hour < 0 || bid.product.timeLeft.minute < 0 || bid.product.timeLeft.second < 0){ %>
    <% if(bid.product.winner._id.toString() === user._id.toString()){ %>
    Win
    <% }else{ %>
    Lose
    <% } %>
    <% }else{ %>
    <%= bid.product.timeLeft.day %>
    <%= bid.product.timeLeft.hour %>
    <%= bid.product.timeLeft.minute %>
    <%= bid.product.timeLeft.second %>
    <% } %>
  </div>
  <% }); %>
  <% }else{ %>
  <div>
    No bid
  </div>
  <% } %>
</div>

<%- include('../partials/footer'); -%>